<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <a href="#" class="navbar-brand">R&M Travel</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Book<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
