<div class="back">
  <div class="container">
    <div class="lg-form">
      <img src="../../assets/plane.png" class="img-fluid" alt="Responsive image" style="width: 200px; height: 200px">
      <div style="background-color:rgba(0, 0, 0, 0.4);">
        <h1 style="color: white">
          Hi {{fname}}! Welcome to Rick & Morty Travel
        </h1>
        <h3 style="color: white">
          Get Schwifty!
        </h3>
      </div>
      <a routerLink="/maketrip">
        <button mdbBtn type="button" color="unique" mdbWavesEffect>Create Trip</button>
      </a>
    </div>
  </div>
</div>
