<div class="back">
  <div class="container">
    <div class="lg-form">
      <!--<div class="vertical-center" style="text-align:center">-->
      <img src="../../assets/plane.png" class="img-fluid" alt="Responsive image" style="width: 200px; height: 200px">
      <h1 style="color: white">
        Hi {{fname}}! Welcome to Rick & Morty Travel
      </h1>

      <h3 style="color: white">
        Get Schwifty!
      </h3>
      <!--<a routerLink="/maketrip">-->
      <!--<button mdbBtn type="button" color="unique" mdbWavesEffect>Load Trip</button>-->
      <!--</a>-->
      <a routerLink="/maketrip">
        <button mdbBtn type="button" color="unique" mdbWavesEffect>Create Trip</button>
      </a>
    </div>
  </div>
  <!--</div>-->
</div>
