.back {
  height: 100vh;
  background: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  //margin-left: -25em;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //-ms-transform: translateY(-50%);
  //transform: translateY(-50%);
}

.lg-form {
  min-height: 450px;
  width: 450px;
  margin: auto;
  text-align: center !important;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //border-radius: 15px;
  padding: 30px 20px 10px 10px;
  //background-color: white;
}

/**************************************** Parent Container ***********************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h3 {
  text-shadow: 2px 2px black;
}
