.back {
  height: 100vh;
  background: url("../../assets/background_maketrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bt {
  height: 60px;
  width: 200px;
}

.custom-select {
  width: 400px;
}

.form-control {
  width: 400px;
}

.modal-body {
  text-align: center;
}
