<!--

  \----------------------------------\
   \                                  \
    \                                  \
     |                                 |
     |       ____  ___   __  __        |
     |      |  _ \( _ ) |  \/  |       |
     |      | |_) / _ \/\ |\/| |       |
     |      |  _ < (_>  < |  | |       |
     |      |_| \_\___/\/_|  |_|       |
     |                                 |          __
     |                                  >---------|  \       ______
    /                                  /         --- \_____/**|_|_\____|
   /                                  /          \_______ --------- __>-}
  /----------------------------------/              /  \_____|_____/   |
                                                    *         |
                                                             {O}

       /*\       /*\       /*\       /*\       /*\       /*\       /*\
      |***|     |***|     |***|     |***|     |***|     |***|     |***|
       \*/       \*/ ____  \*/       \*/       \*/       \*/       \*/
        |         |  |  |   |         |         |         |         |
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
-->
<div class="back">
  <app-navbar></app-navbar>
  <div class="vertical-center" style="text-align:center">
    <h3 style="color: white; margin-top: 30px">
      Itinerary Information
    </h3>
    <div style="margin-top: 50px">
      <p *ngIf="travelers">
        <button class="bt" mdbBtn type="button" color="unique" (click)="showTravelersModal()" mdbWavesEffect>Add
          Travelers
        </button>
      </p>
      <p *ngIf="packages">
        <button class="bt" mdbBtn type="button" color="unique" (click)="showPackageModal()" mdbWavesEffect>Add
          Packages
        </button>
      </p>
      <p *ngIf="paymentPerson">
        <button class="bt" mdbBtn type="button" color="unique" (click)="showPaymentPersonModal()" mdbWavesEffect>Choose
          Payment Person
        </button>
      </p>
      <p *ngIf="paymentType">
        <button class="bt" mdbBtn type="button" color="unique" (click)="showPaymentTypeModal()" mdbWavesEffect>Choose
          Payment Type
        </button>
      </p>
    </div>
    <!-------------------------------------------------- Showing Itinerary -------------------------------------------->
    <div *ngIf="showItinerary" style="color: white;">
      <h4>Agent:</h4>
      <h6>{{agent}}</h6>
      <h4>Travelers:</h4>
      <h6 *ngFor="let t of addedTravelersList">{{t}}</h6>
      <h4>Packages:</h4>
      <h6>FROM: {{selectedFROM}} TO: {{selectedTO}}</h6>
      <h4>Duration:</h4>
      <h6>{{calculatedDuration}} Hours</h6>
      <h4>Payment Person:</h4>
      <h6>{{selectedPaymentPerson}}</h6>
      <h4>Payment Method:</h4>
      <h6>{{selectedPaymentType}}</h6>
      <div *ngIf="creditCardNumber.length> 1">
        <h4>Credit Card Number:</h4>
        <h6>{{creditCardNumber}}</h6>
        <h4>Credit Card Expiry:</h4>
        <h6>{{creditCardExpiry}}</h6>
      </div>
      <div *ngIf="checkNumber.length> 2">
        <h4>Credit Card Number:</h4>
        <h6>{{checkNumber}}</h6>
      </div>
      <h4>Payment Amount:</h4>
      <h6>${{calculatedCost}}</h6>
      <h4>Thank you for using Rick & Morty Travel!</h4>
    </div>
    <!-------------------------------------------------- End Showing Itinerary ---------------------------------------->
  </div>
</div>

<!-------------------------------------------------- Modal to add travelers ------------------------------------------->
<div mdbModal #travelersModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mytravelersModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="travelersModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Add traveler</h4>
      </div>
      <div class="modal-body">
        <form name="f1">
          <div class="form-row">
            <div class="col">
              <select [(ngModel)]="selectedTraveler" class="browser-default custom-select" name="ds1">
                <option *ngFor="let traveler of travelersList" selected
                        [value]="traveler.firstName + ' ' + traveler.lastName">
                  {{traveler.firstName + " " +
                traveler.lastName}}
                </option>
              </select>
            </div>
            <div class="col">
              <button mdbBtn (click)="addTravelerFromList(selectedTraveler)" type="button" color="unique"
                      mdbWavesEffect>Add
              </button>
            </div>
          </div>
        </form>

      </div>
      <div style="margin-left: 20px">
        Added travelers: {{numOfTravelers}}
      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="travelersModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="statePackage()"
                mdbWavesEffect>Done
        </button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------- End Modal to add travelers --------------------------------------->

<!-------------------------------------------------- Modal to add package --------------------------------------------->
<div mdbModal #packageModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mypackageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="packageModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel1">Add Package</h4>
      </div>
      <div class="modal-body">
        <form name="f2">
          <div class="form-row">
            <div class="col">
              FROM:
            </div>
            <div class="col">
              <select [(ngModel)]="selectedFROM" class="browser-default custom-select" name="ds2">
                <option *ngFor="let place of placeList" selected [value]="place.name">
                  {{place.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              TO:
            </div>
            <div class="col">
              <select [(ngModel)]="selectedTO" class="browser-default custom-select" name="ds21">
                <option *ngFor="let place of placeList" selected [value]="place.name">
                  {{place.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <button mdbBtn type="button" color="unique" (click)="calculate()" mdbWavesEffect>Calculate
              </button>
            </div>
            <div class="col">
              Cost: ${{calculatedCost}}
            </div>
            <div class="col">
              Duration: {{calculatedDuration}} Hours
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="packageModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light"
                (click)="statePaymentPerson()"
                mdbWavesEffect>Done
        </button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------- End Modal to add package ----------------------------------------->

<!-------------------------------------------------- Modal to add payment person -------------------------------------->
<div mdbModal #paymentPersonModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mypackageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="paymentPersonModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel2">Select Payment Person</h4>
      </div>
      <div class="modal-body">
        <form name="f3">
          <div class="form-row">
            <div class="col">
              <select [(ngModel)]="selectedPaymentPerson" class="browser-default custom-select" name="ds21">
                <option *ngFor="let pp of paymentPersonList" selected [value]="pp">
                  {{pp}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-row">
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="paymentPersonModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="statePaymentType()"
                mdbWavesEffect>Choose
        </button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------- End Modal to add payment person ---------------------------------->

<!-------------------------------------------------- Modal to add payment type ---------------------------------------->
<div mdbModal #paymentTypeModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mypackageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="paymentTypeModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel3">Select Payment Type</h4>
      </div>
      <div class="modal-body">
        <form name="f4">
          <div class="form-row">
            <div class="col">
              <select [(ngModel)]="selectedPaymentType" class="browser-default custom-select" name="ds3">
                <option selected value="Credit">Credit Card</option>
                <option value="Check">Check</option>
                <option value="Cash">Cash</option>
              </select>
            </div>
            <div class="col">
              <div *ngIf="selectedPaymentType == 'Credit'" class="md-form">
                <div class="col"><input [(ngModel)]="creditCardNumber" mdbInputDirective type="text" name="sometb"
                                        id="ccn"
                                        class="form-control">
                  <label for="ccn" class="" name="somelb">Credit Card Number</label>
                </div>
                <div class="col"><input [(ngModel)]="creditCardExpiry" mdbInputDirective type="text" name="sometb2"
                                        id="cce" class="form-control">
                  <label for="cce" class="" name="somelb2">Credit Card Expiry</label></div>
              </div>
              <div *ngIf="selectedPaymentType == 'Check'" class="md-form">
                <input [(ngModel)]="checkNumber" mdbInputDirective type="text" name="sometb3" id="check"
                       class="form-control">
                <label for="check" class="" name="somelb3">Check Number</label>
              </div>
              <div *ngIf="selectedPaymentType == 'Cash'" class="md-form">
                <input mdbInputDirective type="text" id="cash" class="form-control">
                <label for="cash" class="">Cash Amount</label>
              </div>
              <div class="form-row">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                (click)="paymentTypeModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="stateMadeTrip()"
                mdbWavesEffect>Choose
        </button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------- End Modal to add payment type ------------------------------------>
