<div class="back">
  <app-navbar></app-navbar>
  <div class="vertical-center" style="text-align:center">
    <h3 style="color: white; margin-top: 30px">
      Itinerary Information
    </h3>
    <div style="margin-top: 50px">
      <p>
        <button class="bt" mdbBtn type="button" color="unique" mdbWavesEffect>Add Travelers</button>
      </p>
      <p>
        <button class="bt" mdbBtn type="button" color="unique" mdbWavesEffect>Add Packages</button>
      </p>
      <p>
        <button class="bt" mdbBtn type="button" color="unique" mdbWavesEffect>Choose Payment</button>
      </p>
      <p>
        <button class="bt" mdbBtn type="button" color="unique" mdbWavesEffect>Choose Payment Type</button>
      </p>
    </div>
  </div>
</div>
